:root {
/* Colors */
  --color-athens-gray: #E5E7EB;
  --color-black-70: #000000B3;
  --color-black-peral: #030712;
  --color-ebony: #111827;
  --color-ebony-50: #11182780;
  --color-ebony-clay: #1F2937;
  --color-mischka: #d1d5db;
  --color-pale-sky: #6B7280;
  --color-rangoon-green: #0f0f0d;
  --color-riptide: #6EE7B7;
  --color-riptide-light: #75FFD3;
  --color-purple-light: #A855F7;
  --color-river-bed: #4B5563;
  --color-white-2: #ffffff00;
  --color-zuccini: #064e3b;
  --color-malachite: #00B171;
  --color-red-orange: #FF3E14;

  --color-black-wemax: #0B0E16;
  --color-gray-wemax-1: #212936;
  --color-gray-wemax-2: #DFE3E6;
  --color-gray-wemax-3: #CED0D2;
  --color-gray-wemax-4: #9CA3AF;
  --color-gray-wemax-5: #828A90;
  --color-gray-wemax-6: #9097A6;

  --color-blue-wemax-white: #38AFF2;
  --color-gray-wemax-dark: #585E63;

/* BoxShadow */
  --box-shadow-02: 0 0px 2px rgba(0, 0, 0, 0.25);
  --box-shadow-0224: 0 0px 2px rgba(0, 0, 0, 0.5), 0 2px 4px rgba(0, 0, 0, 0.5);
}

